<template>
    <div class="markup-block">
        <div class="markup-tools">
            <div class="row">
                <div class="col-md-3">
                    Levels:
                    <select v-model="currentLevel" @change="onChangeLevel" class="form-control">
                        <option v-for="(data, lvl) in levelGroups" v-bind:value="lvl">
                            Level-{{lvl}} ({{Object.keys(data).length}})
                        </option>
                    </select>
                    <button class="btn btn-primary btn-sm" @click="save"> Save</button>
                    <div v-show="error !== ''" class="alert alert-danger">
                        {{this.error}}
                    </div>
                </div>
                <div class="col-md-9">

                    Result:
                    <editor ref='resultEditor' :value="markupResult"
                            height="200"
                            @init="editorInit" lang="json" theme="monokai"/>
                </div>
            </div>
        </div>
        <div class="markup-canvas">
            <div class="segment-container">
                <img :src="image" class="markup-bg">
                <segment v-for="(el, id) in levelGroups[currentLevel]"
                         :key="id"
                         :node-name="el.tag"
                         :xpath="el.id"
                         :level="el.l"
                         :x="el.x"
                         :y="el.y"
                         :x1="el.x1"
                         :y1="el.y1"
                         :mark="el.mark"
                />
            </div>
        </div>
        <modal name="segment-modal"
               transition="nice-modal-fade"
               classes="demo-modal-class"
               :min-width="200"
               :min-height="200"
               :pivot-y="0.5"
               :adaptive="true"
               :scrollable="true"
               :reset="true"
               width="60%"
               height="auto"
               @before-open="beforeModal"
               @opened="openedModal"
               @closed="closedModal"
               @before-close="afterModal">
            <div class="segment-modal-content" v-if="currentElement">
                <div class="card">
                    <div class="card-header">{{currentElement.id}}</div>
                    <div class="card-body">
                        <p>({{currentElement.x}}, {{currentElement.y}})({{currentElement.x1}}, {{currentElement.y1}})</p>
                        <div class="form">
                            <select v-model="currentElement['mark']" class="form-control">
                                <option v-for="(val, key) in markupItems" :value="key"> {{val}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import EventBus from './eventBus';
    import Segment from "./Segment";

    let ace = require('brace');

    export default {
        name: "markup",
        components: {
            'segment': Segment,
            'editor': require('vue2-ace-editor'),
        },
        props: {
            image: String,
            markup: Array,
            saveUrl: String,
            marked: {type: Array, default: []}
        },
        data() {
            return {
                currentLevel: 0,
                currentElement: null,
                result: this.markup,
                levelGroups: this.buildGroups(),
                error: '',
                markupItems: {
                    '': '',
                    'header': 'Header',
                    'hmenu': 'Horizontal menu',
                    'vmenu': 'Vertical menu',
                    'footer': 'Footer',
                    'content': 'Main Content',
                    'content-item': 'Content Item',
                    'banner': 'Advertisement Banner',
                }
            }
        },
        created() {
            EventBus.$on('SEGMENT-SELECTED', (xpath, level) => {
                this.currentElement = this.levelGroups[level][xpath];
                this.$modal.show('segment-modal');
            });
        },
        methods: {
            buildGroups() {
                let data = {};
                this.markup.forEach(function (el) {
                    if (!data.hasOwnProperty(el.l)) {
                        data[el.l] = {};
                    }
                    data[el.l][el.id] = el;
                });
                console.log(data);
                return data;
            },
            onChangeLevel() {
                this.currentElement = null;
                if (this.levelGroups[this.currentLevel].length > 150) {
                    this.error = 'Слишком много элементов для отрисовки на этом уровне';
                } else {
                    this.error = '';
                }
                EventBus.$emit('LEVEL-CHANGED', this.currentLevel);
            },
            editorInit: function (editor) {
                require('brace/mode/html');
                require('brace/mode/javascript');
                require('brace/theme/monokai');
                require('brace/mode/json');
                require('brace/ext/searchbox');
                require('brace/ext/keybinding_menu');
                editor.setReadOnly(true);
                editor.renderer.setOption('fontSize', '14px');
                editor.session.setTabSize(4);
                editor.session.setUseSoftTabs(true);
                editor.session.setUseWrapMode(true);
            },
            save() {
                jQuery.post(this.saveUrl, {'markup': this.result})
                    .done((resp) => console.log(resp))
                    .error((err) => console.log(err))
            },
            beforeModal() {

            },
            afterModal() {

            },
            openedModal() {

            },
            closedModal() {

            },
        },
        computed: {
            currentData() {
                if (!this.currentElement) {
                    return '{}';
                }
                return JSON.stringify(this.currentElement, null, 4);
            },
            markupResult() {
                if (!this.result) {
                    return '[]';
                }
                return JSON.stringify(this.result, null, 2);
            }
        }
    }
</script>

<style scoped>
    .segment-modal-content {
        padding: 10px;
        font-style: 13px;
    }

    .v--modal-overlay[data-modal="segment-modal"] {
        background: rgba(0, 0, 0, 0.5);
    }

    .demo-modal-class {
        border-radius: 5px;
        background: #F7F7F7;
        box-shadow: 5px 5px 30px 0px rgba(46, 61, 73, 0.6);
    }
</style>