<template>
    <div class="segment" :class="['lvl-'+level, selected? 'selected' : '']"
            :style="styleObject" @click="onClick"
    >{{nodeName}}</div>
</template>

<script>
    import EventBus from './eventBus';

    export default {
        name: "segment",
        props: {
            nodeName: String,
            xpath: String,
            level: Number,
            x: Number,
            y: Number,
            x1: Number,
            y1: Number,
            mark: String
        },
        data(){
            return {
                selected: false
            }
        },
        created() {
            EventBus.$on('SEGMENT-SELECTED',  (xpath, level) => {
                if(this.xpath !== xpath){
                    this.selected = false;
                }
            });
            EventBus.$on('LEVEL-CHANGED',  (newLevel) =>{ this.selected = false;});
        },
        computed:{
           styleObject: function () {
               let zIndex = this.level * 5;
               let left = (this.x >=0 ? this.x: 0);
               let top = (this.y >=0 ? this.y: 0);
               let width = (this.x >=0 ? this.x1-this.x: this.x1);
               let height = (this.y >=0 ? this.y1-this.y: this.y1);
               return {
                   'top': top +'px',
                   'left': left +'px',
                   'width': (width < 1024? width: 1024)+'px',
                   'height': height+'px',
                   'z-index': zIndex
               }
           }
        },
        methods:{
           onClick: function(event){
               this.selected = true;
               console.log(this.styleObject);
               EventBus.$emit('SEGMENT-SELECTED', this.xpath, this.level);
           },
        }
    }
</script>