// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin no-margin-pad(){
   margin: 0 0 0 0;
   padding: 0 0 0 0;
}


img.preview {
  max-height: 320px;
  max-width: 320px;
}

body {
  padding-top: 5rem;
}

.inner-container {
  padding: 3rem 1.5rem;
}

.nav-item > h1 {
  color: $white;
  font-size: $h4-font-size;
  text-align: center;
}

.block {
  padding: 5px 3px 5px 3px;
  width: 100%;

  &.h100 {
    height: 100px;
    max-height: 110px;
  }

  &.h200 {
    height: 200px;
    max-height: 220px;
  }

  &.h300 {
    height: 300px;
    max-height: 330px;
  }

  &.h400 {
    height: 400px;
    max-height: 440px;
  }

  &.h500 {
    height: 500px;
    max-height: 550px;
  }

  &.h700 {
    height: 700px;
    max-height: 750px;
  }

  &.scrollable {
    overflow-x: auto;
    overflow-y: auto;
  }
}

img.markup-bg {
  width: 1024px;
  height: auto;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  @include no-margin-pad();
}

.markup-tools{
  margin-bottom: 5px;
  margin-top: 5px;
}
.markup-canvas{
  margin-top: 10px;
  border: 2px solid $primary;
}
.segment-container{
   @include no-margin-pad();
   position: absolute;
}
.segment {
  opacity: 0.4;
  border: 1px dashed;
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  font-size: $font-size-base;
  @include no-margin-pad();
  &.selected {
    border: 2px solid darkviolet;
    opacity: 0.9;
  }
  &.lvl-1 {
    background-color: #e4ebce;
    border-color: #969c8f;
  }

  &.lvl-2 {
    background-color: #c3ebc4;
    border-color: #88b08a;
  }

  &.lvl-3 {
    background-color: #baebe3;
    border-color: #779991;
  }

  &.lvl-4 {
    background-color: #b8cdeb;
    border-color: #7e8ba3;
  }

  &.lvl-5 {
    background-color: #dec2eb;
    border-color: #847891;
  }

  &.lvl-6 {
    background-color: #ebbdcb;
    border-color: #8e747a;
  }

  &.lvl-7 {
    background-color: #ebc794;
    border-color: #967a5b;
  }

  &.lvl-8 {
    background-color: #e3eb7b;
    border-color: #999c34;
  }

  &.lvl-9 {
    background-color: #8dfe87;
    border-color: #59b058;
  }

  &.lvl-10 {
    background-color: #73ebc8;
    border-color: #3c7964;
  }

  &.lvl-11 {
    background-color: #71d4eb;
    border-color: #477c8e;
  }

  &.lvl-12 {
    background-color: #7fb9eb;
    border-color: #4e7699;
  }

  &.lvl-13 {
    background-color: #ca9deb;
    border-color: #79608f;
  }

  &.lvl-14 {
    background-color: #eb899c;
    border-color: #944e5f;
  }

  &.lvl-15 {
    background-color: #eb7a5c;
    border-color: #af5847;
  }
}

.pagination {
   justify-content: center;
}