{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% set title = cat.name %}
{% block heading %}  <h1>[{{ cat.id }}] {{ cat.name }}</h1> {% endblock %}
{% block content %}
    {{ macros.search_form(url_for(route, page=1, sort='', dir='asc', idx=cat.id)) }}
    {{ macros.pagination(route, page, max_page, sort, dir, cat.id, search) }}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>url</th>
            <th>title</th>
            <th>text</th>
            <th>approve</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr>
                <td><a id="#{{ url.id }}" href="{{ url_for('common.show', url_id=url.id) }}">{{ url.id }}</a></td>
                <td>
                    <a href="{{ url.url }}" target="_blank">{{ url.url }}</a><br/>
                    <b>{{ url.lang| upper }}</b> Is Main:
                    {{ macros.bool_toogle(url.is_main, url_for('common.toggle_attr', url_id=url.id, attr='is_main'), url.id, '') }}<br/>
                    Has html:  {{ macros.bool_mark(url.has_html) }} Has markup:  {{ macros.bool_mark(url.has_markup) }}
                </td>
                <td>{{ url.text.title }}</td>
                <td>
                    {{ url.text.raw_text[:250] }}
                    <a data-toggle="collapse" href="#collapse_{{ url.id }}" role="button">Show/Hide</a>
                    <div class="collapse" id="collapse_{{ url.id }}">
                        {{ url.text.raw_text }}
                    </div>
                </td>
                <td>
                    <a href="{{ url_for('common.show', url_id=url.id) }}" target="_blank"
                       class="btn btn-sm btn-primary">
                        <i class="fas fa-eye"></i>
                    </a><br/>

                    <br>
                    {{
                        macros.bool_toogle(
                            (url.lang=='ru'), url_for('common.toggle_attr', url_id=url.id, attr='lang'),
                            url.id, 'RU'
                         )
                     }}
                    <br>
                    {{
                        macros.bool_toogle(
                            url.deleted, url_for('common.toggle_attr', url_id=url.id, attr='deleted'),
                            url.id, 'Delete'
                         )
                     }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       {{ macros.pagination(route, page, max_page, sort, dir, cat.id, search) }}
{% endblock %}