{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% set title = 'Page#' ~ page %}
{% block heading %}   {% endblock %}
{% block content %}
    {{ macros.search_form(url_for('common.image_index', page=1, sort='', dir='asc')) }}
    {{ macros.pagination(route, page, max_page, sort, dir, None, search) }}
    <div class="card-columns">
    {% for url in urls -%}
        <div class="card">
            <a href="{{ url.get_thumb_url() }}" target="_blank">
                <img class="card-img-top zoomable" src="{{ url.get_thumb_url() }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    #{{ loop.index }}
                    <a href="{{ url.url }}" target="_blank">{{ url.url }}</a>
                </h5>
                <p class="card-text">
                    (1024 x {{ url.markup.height }})
                    Elements: {{ url.markup.elem_count }}
                    Depth: {{ url.markup.max_depth }}
                    <a class="expand_img btn btn-sm btn-outline-info" href="#" data-src="{{ url.get_image_url() }}"
                       target="_blank">
                        Full image
                    </a>
                    <a href="{{ url_for('common.show', url_id=url.id) }}" target="_blank" title="Show"
                       class="btn btn-sm btn-primary">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{{ url_for('common.markup', url_id=url.id) }}" target="_blank" title="Markup"
                       class="btn btn-sm btn-primary">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ url_for('common.update_data', url_id=url.id) }}" target="_blank" title="Refresh data"
                       class="btn btn-sm btn-warning">
                        <i class="fas fa-file-code"></i>
                    </a>

                     <a href="{{ url_for('common.update_screen', url_id=url.id) }}" target="_blank" title="Refresh image"
                       class="btn btn-sm btn-info">
                        <i class="fas fa-file-image"></i>
                    </a>
                    {{ macros.bool_toogle(
                            url.bad_image, url_for('common.toggle_attr', url_id=url.id, attr='bad_image'),
                            url.id, 'Bad image mark'
                         ) }}
                    <br/>
                <form action="{{ url_for('common.update_layout', url_id=url.id) }}" class="form">
                    {{ forms[url.id].csrf_token }}
                    <div class="form-group required">
                        <label for="{{ forms[url.id].layout.id }}"
                               class="form-control-label">{{ forms[url.id].layout.label }}</label>
                        {{ forms[url.id].layout(class_="form-control") }}
                    </div>
                    <button class="btn btn-ajax btn-sm btn-secondary">Upd</button>
                </form>
                </p>
            </div>
        </div>
    {% endfor -%}
    </div>
    {{ macros.pagination(route, page, max_page, sort, dir, None, search) }}

    {{ macros.image_modal() }}
{% endblock %}