{% extends "layout.html" %}

{% block title %}
    Categories
{% endblock %}
{% block heading %}  <h1>Categories</h1> {% endblock %}

{% block content %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>total urls</th>
            <th>with markup</th>
            <th>--</th>
        </tr>
        </thead>
        <tbody>
        {% for cat in categories %}
            {% set c = cat[0] %}
            <tr>
                <td>{{ c.id }}</td>
                <td><a href="{{ url_for('common.cat', idx=c.id) }}">{{ c.name }}</a></td>
                <td>{{ cat[1] }}</td>
                <td>{{ with_markup[c.id] or '0' }}</td>
                <td>
                    <a href="{{ url_for('common.cat', idx=c.id) }}">all</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}