<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
    <title>{{title}} - html markup app</title>
    {% else %}
    <title>Html Markup</title>
    {% endif %}
    <link rel="stylesheet" href="/static/app.css">
   {{ fontawesome_html() }}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#">Demo app</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('common.old_index') }}">Old cats</a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="{{ url_for('common.image_index') }}">Images</a>
    </li>
  </ul>
    <ul class="navbar-nav mr-auto nav-justified">
        <li class="nav-item">
        {% block heading %}{% endblock %}
        </li>
    </ul>
</div>
</nav>

<main role="main" class="container">
<div class="inner-container">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
{% endwith %}
{% block content %}
{% endblock %}
</div>
</main>
<script src="/static/app.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>