{% macro form_group(field) -%}
    <div class="form-group required">
        <label for="{{ field.id }}" class="form-control-label">{{ field.label }}</label>
        {% if field.errors %}
            {{ field(class_="form-control is-invalid") }}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}
        {% if field.errors %}
            <div class="invalid-feedback">
                {{ field.errors[0] }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro checkbox(field) -%}
    <div class="form-check">
        {% if field.errors %}
            {{ field(class_="form-check-input is-invalid") }}
        {% else %}
            {{ field(class_="form-check-input") }}
        {% endif %}
        <label class="form-check-label" for="{{ field.id }}">
            {{ field.label }}
        </label>
        {% if field.errors %}
            <div class="invalid-feedback">
                {{ field.errors[0] }}
            </div>
        {% endif %}
    </div>

{% endmacro %}

{% macro quick_form(form, action='') -%}
    {% if action %}
        <form class="form" method="POST" action="{{ action }}">
    {% else %}
        <form class="form" method="POST">
    {% endif %}
    <form class="form" method="POST">
        {% for field in form %}
            {% if field.type in ('HiddenField', 'CSRFTokenField') %}
                {{ field() }}
            {% elif field.type == 'SubmitField' %}
                {{ field(class_="btn btn-primary") }}
            {% elif field.type == 'BooleanField' %}
                {{ checkbox(field) }}
            {% else %}
                {{ form_group(field) }}
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}

{% macro bool_mark(val) -%}
    {% if val %}
        <span class="text-success"><i class="fas fa-check-circle"></i></span>
    {% else %}
        <span class="text-danger"><i class="fas fa-circle"></i></span>
    {% endif %}
{% endmacro -%}

{% macro bool_toogle(val, url, id, label) -%}
    {% if val %}
        <a class="text-success atoggle" data-url="{{ url }}" data-val="true" href="#{{ id }}">
            <i class="fas fa-check-circle"></i> {{ label }}
        </a>
    {% else %}
        <a class="text-danger atoggle" data-url="{{ url }}" data-val="false" href="#{{ id }}">
            <i class="fas fa-circle"></i> {{ label }}
        </a>
    {% endif %}
{% endmacro -%}

{% macro pagination(route, curr_page, max_page, sort, dir, idx=None, search='') -%}
    <nav>
        <ul class="pagination">
            {% if curr_page > 1 %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url_for(route, idx=idx, sort=sort, dir=dir, page=1, search=search) }}">
                        First
                    </a>
                </li>

            {% endif %}
            {% set min_nav = (1, curr_page - 5)|max %}
            {% set max_nav = (max_page, curr_page + 5)|min %}
            {% for i in range(min_nav, max_nav) %}
                <li class="page-item">
                    {% if i == curr_page|int %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}</a>
                            {% else %}
                        <li class="page-item">
                        {% if idx %}
                            <a class="page-link"
                               href="{{ url_for(route, idx=idx, sort=sort, dir=dir, page=i, search=search) }}">
                                {{ i }}
                            </a>
                        {% else %}
                            <a class="page-link"
                               href="{{ url_for(route, sort=sort, dir=dir, page=i, search=search) }}">
                                {{ i }}
                            </a>
                        {% endif %}
                    {% endif %}
                    </li>
            {% endfor %}

            {% if curr_page != max_page %}
                <li class="page-item">
                    {% if idx %}
                        <a class="page-link"
                           href="{{ url_for(route, idx=idx, sort=sort, dir=dir, page=max_page, search=search) }}">
                            Last
                        </a>
                    {% else %}
                        <a class="page-link"
                           href="{{ url_for(route, sort=sort, dir=dir, page=max_page, search=search) }}">
                            Last
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>
{% endmacro -%}

{% macro image_modal() -%}
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview" style="width: 80%;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro -%}

{% macro search_form(action_link) -%}
    <form class="form-inline md-form form-sm active-purple-2 mt-2" action="{{ action_link }}" method="get">
        <div class="input-group mb-3">
            <input class="form-control form-control-sm " type="text" placeholder="Search"
                   aria-label="Search" name="search">
            <div class="input-group-append">
                <button class="btn btn-outline-info btn-sm" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
{% endmacro -%}