{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% set title = url.cat.name ~' : ' ~ url.url %}
{% block heading %}    <h1 class="h1"> {{ url.cat.name }}: {{ url.url }} </h1> {% endblock %}

{% block content %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('common.show', url_id=url.id) }}">Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('common.markup', url_id=url.id) }}">Markup</a>
        </li>
    </ul>
    <nav>
        <ul class="pagination">
            {% if prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('common.markup', url_id=prev.id) }}">Previous</a>
                </li>
            {% endif %}
            {% if next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('common.markup', url_id=next.id) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="card card-header">
        <div class="card-header">
            ID: {{ url.id }} URL: <a href="{{ url.url }}" target="_blank">{{ url.url }}</a><br/>
            MarkupElements: {{ url.markup.elem_count }}
        </div>
    </div>

    <div id="markuper">
        <markup
                image="{{ url.get_image_url() }}"
                save-url="{{ url_for('common.markup', url_id=url.id) }}"
                :markup="{{ markup }}"
                :marked="[]"
        />
    </div>
{% endblock %}
