{% extends "layout.html" %}

{% block title %}
    Old Categories
{% endblock %}
{% block heading %}  <h1> Old Categories</h1> {% endblock %}

{% block content %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>total urls</th>
        </tr>
        </thead>
        <tbody>
        {% for cat in categories %}
            {% set c = cat[0] %}
            <tr>
                <td>{{ c.id }}</td>
                <td><a href="{{ url_for('common.old_cat', idx=c.id) }}">{{ c.name }}</a></td>
                <td>{{ cat[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}