{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% set title = url.cat.name ~' : ' ~ url.url %}

{% block heading %}    <h1 class="h1"> {{ url.cat.name }}: {{ url.url }} </h1> {% endblock %}

{% block content %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('common.show', url_id=url.id) }}">Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('common.markup', url_id=url.id) }}">Markup</a>
        </li>
    </ul>

    <nav>
        <ul class="pagination">
            {% if prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('common.show', url_id=prev.id) }}">Previous</a>
                </li>
            {% endif %}
            {% if next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('common.show', url_id=next.id) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="card">
        <div class="card-header">
            ID: {{ url.id }} URL: <a href="{{ url.url }}" target="_blank">{{ url.url }}</a>
            <a href="{{ url_for('common.update_text', url_id=url.id) }}" class="btn btn-sm btn-primary float-right">
                Refresh text
            </a>
            <a href="{{ url_for('common.update_screen', url_id=url.id) }}" target="_blank" title="Refresh image"
               class="btn btn-sm btn-info float-right">
                <i class="fas fa-file-image"></i>
            </a>
            <a href="{{ url_for('common.update_data', url_id=url.id) }}" target="_blank" title="Refresh data"
               class="btn btn-sm btn-warning float-right">
                <i class="fas fa-file-code"></i>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{ url.text.title }}
            </h5>
            <p class="card-text">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ url.get_thumb_url() }}" target="_blank">
                        <img class="card-img zoomable" src="{{ url.get_thumb_url() }}">
                    </a>
                    <a class="expand_img mt-5 btn btn-sm btn-outline-info" href="#" data-src="{{ url.get_image_url() }}"
                       target="_blank">
                        Full image (1024 x {{ url.markup.height }})
                    </a>
                    <div class="block mt-5 scrollable h200">
                        {{ url.text.raw_text }}
                    </div>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dd>Elements:</dd> <dt>{{ url.markup.elem_count }}</dt>
                        <dd>Depth:</dd> <dt>{{ url.markup.max_depth }}</dt>
                        <dd>Lemmas:</dd> <dt>{{ url.text.lemmas_count }}</dt>
                    <div class="block mt-5 scrollable h200">
                        {{ url.text.lemmas }}
                    </div>
                    {{ macros.quick_form(form) }}
                </div>
            </div>
            <ul class="pagination mt-5">
                {% if prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('common.show', url_id=prev.id) }}">Previous</a>
                    </li>
                {% endif %}
                {% if next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('common.show', url_id=next.id) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {{ macros.image_modal() }}
{% endblock %}